page-home {
  h1 {
    font-size: 15vw;
    text-align: center;
    padding-top: 6%;
  }

  img {
    display: block;
    margin: auto;
    width: 80%;
  }

  .buttonStack {
    width: 80%;
    position: absolute;
    bottom: 6%;
    left: 10%; // Used to center buttons
  }

  .buttonStack .button {
    margin-top: 20px;
  }
}
