round-slides {

	currentPic {
		position: relative; right: 50%;
		transform: translate(-100%,0);
	}

	.subButton {
		min-width: 120px;
		position: relative; right: -58%;
		transform: translate(-80%,0);
	}

  img {
    display: block;
    margin: auto;
  }

  .timer {
  	font-size: 20pt;
  	text-align: center;
  	transform: translate(-20%,-115%);
  }

}
